.card_profile {
  .ant-popover-inner {
    padding: 0;
  }

  li {
    border-bottom: 1px solid #f0f0f0;
  }

  li:last-child {
    border-bottom: none;
  }

  li:first-child {
    cursor: text;
  }

  li:first-child:hover {
    background-color: white !important;
  }
}

.header_btn {
  .ant-popover-title {
    font-size: 18px;
    color: #2c406c;
  }
}

.slider_tooltip {
  .ant-tooltip-inner {
    background-color: #faad14;
  }

  .ant-tooltip-arrow::before {
    background: #faad14 !important;
  }
}

.layout-slider-menu.ant-menu-root {
  border-inline-end: none !important;
}

.new_profiles_compact {
  .ant-row {
    height: 100%;

    .ant-col {
      height: 100%;

      .ant-form-item-control-input-content {
        height: 100%;

        .ant-space-compact {
          height: 100%;
        }
      }
    }
  }
}

@layer layout_page {
  .order_rounded_full {
    @apply w-10 h-10 rounded-full bg-bg_primary text-text_primary text-lg;
  }

  .select_item {
    @apply flex items-center gap-2 text-[15px];
  }
}
