.profiles-slider-collapse {
  .ant-collapse-header {
    width: 100%;
    padding: 0 !important;
  }

  .ant-collapse-item {
    width: 100%;
  }

  .ant-collapse-extra {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.8rem;
    background: rgba(211, 227, 253);
  }

  .ant-collapse-expand-icon {
    height: 2.5rem !important;
    width: 2.5rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: rgba(211, 227, 253);
    cursor: pointer;
  }

  .ant-collapse-content-box {
    padding: 0;
  }

  .ant-collapse-content {
    width: 100%;

    .ant-collapse-content-box {
      padding: 0;
    }
  }

  .ant-collapse {
    width: 100%;
  }
}
